<header class="full-width layout-row md-whiteframe-3dp"
ng-class="{'md-padding-top-half': $ctrl.$mdMedia('gt-xs'),
    'layout-align-start-center': $ctrl.$mdMedia('xs')}">
    <div class="layout-row layout-max-width margin-0-auto layout-wrap layout-align-gt-xs-center-center"
    ng-class="{'md-padding-left full-width': $ctrl.$mdMedia('xs')}">
        <i class="hide show-xs material-icons md-margin icon-md color-off-white cursor-pointer"
        ng-click="$ctrl.toggleSideNav()">menu</i>
        <a class="color-off-white md-headline md-margin-top-half text-decoration-none font-family-playfair-sc"
        ui-sref="home">
            <div class="layout-row full-width"
            ng-class="{'header-padding': $ctrl.$mdMedia('gt-xs'),
            'md-padding-top-half': $ctrl.$mdMedia('sm') }">
                <span class="hide show-xs xs-title-margin">
                    H R R C
                </span>
                <span class="hide show-gt-xs"
                ng-class="{'md-display-1': $ctrl.$mdMedia('gt-sm')}">
                    Human Rights Realization Community
                </span>
            </div>
        </a>
        <nav class="hide show-gt-xs layout-row full-width color-off-white layout-align-center-center">
            <md-button class="" ui-sref="home">
                Home
            </md-button>
            <md-button ui-sref="papers">
                Papers
            </md-button>
            <md-button ui-sref="submissions">
                Submissions
            </md-button>
            <md-button ui-sref="about">
                About
            </md-button>
            <md-button ui-sref="contact">
                Contact
            </md-button>
        </nav>
    </div>
</header>