body {
    font-family: 'EB Garamond', serif;
    // font-family: 'Playfair Display', serif;
    // font-family: 'Playfair Display SC', serif;
}

.font-family-garamond {
    font-family: 'EB Garamond', serif;
}

.font-family-playfair {
    font-family: 'Playfair Display', serif !important;
}

.font-family-playfair-sc {
    font-family: 'Playfair Display SC', serif !important;
}

.line-height-3 {
    line-height: 3rem;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

.text-decoration-none {
    text-decoration: none;
}

.text-shadow-black {
    text-shadow: 1px 1px #000;
}

.md-button {
    font-family: 'Playfair Display SC', serif !important;
}

.italic {
    font-style: italic;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.md-body-2 {
    font-size: 16px;
    letter-spacing: 0.02em;
}